<!DOCTYPE html>
<html>
  <head>
    <title>Boba Shop</title>
  </head>
  <body>
    <h1>Special Tea</h1>
    <nav>
      <ul>
        <li><a href="/employee">Employees</a></li>
        <li><a href="/store">Stores</a></li>
        <li><a href="/inventory">Inventory</a></li>
      </ul>
    </nav>
  </body>
</html>